#detailButton{
    margin-left: 77%;
    padding-bottom: 0%;
    margin-top: -5%;   
}

.nextAppointementt{
    margin-left: 5%;
}


#nextAppointementDetail{
    margin-left: 6%;
    margin-bottom: 8%;
}


#EnterNextAppointement{
    margin-left: 6%;
    margin-bottom: 6%;
}


